<div class="container-100">
  <div class="row footer">

    <div class="col-md-2"></div>
    <div class="col-md-8">


      <div class="row justify-content-center">
        <div class="col-md-6">
          <i class="fa fa-envelope cursor" style="color: #6ed3fc;" aria-hidden="true"></i>
          <div class="copy-right">
            Copyright &copy; 2014 Two Bytes Consulting.
            <strong>Terms & Policies.</strong>
          </div>
        </div>
        <div class="col-md-6  text-end">
      
            <button class="btn btn-primary tweet-button" style="color: #2092c2;"><i class="fab fa-twitter"
                style="color: #2092c2; "></i> Tweet
            </button>
            <span class="m-2" style="color: #2092c2;">692</span>
          
            <button class="btn btn-primary facebook-button " style="color: #2092c2; margin-left: 5%;"><i class="fab fa-facebook-square"
                style="color: #2092c2;"></i> Like
            </button>
            <span class="m-2" style="color: #2092c2;">117</span>
        
        </div>
      </div>


    </div>

  </div>
</div>